$--color-primary: #37D7D7 !default;
$--font-path: '../fonts' !default;
$--button-border-radius: 0;
$--button-small-border-radius: 0;
$--input-border-radius: 0;
$--border-radius-base: 0;

@import url('../customFonts.css');
@import '../../node_modules/element-ui/packages/theme-chalk/src/index.scss';

:root {
  --primary: #37D7D7;
  --red: #FF5A5F;
  --darkgray: #484848;
  --lightgray: #9F9F9F;
  --black: #222222;
  --header-height: 79px;
  
}

*:focus {
  outline: 0 !important;
  box-shadow: 0 0;
}

body {
  font-family: 'PrayuthSlim' !important;
  overflow: hidden;
  overflow-y: auto;
}

.text-primary,
.hover\:text-primary:hover,
.focus\:text-primary:focus {
  color: $--color-primary;
}

.bg-primary,
.hover\:bg-primary:hover,
.focus\:bg-primary:focus {
  background-color: $--color-primary;
}

.super-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-0 {
  .el-input__inner {
    border: 0;
  }
}

.pb-super {
  padding-bottom: 8rem !important;
}

.el-select__caret {
  color: $--color-primary!important;
}

.w-full .el-date-editor.el-input {
  width: 100%;
}

.container {
  // max-width: 1170px;
  width: calc(100% - 2rem)!important;
  max-width: none!important;
  
  @media screen and (min-width: 768px) {
    width: calc(100% - 5rem)!important;
  }
}

.el-input--large {
  input {
    height: 54px;
  }
}

.el-button--large {
  height: 54px;
}

.el-button--primary.is-plain {
  background: transparent;
}

.el-menu--horizontal {
  & > .el-menu-item {
    border-bottom: 0!important;

    &.is-active {
      box-shadow: inset 0 3px $--color-primary;
    } 
  }
}

.item-with-counter {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: .2rem;
}

.rounded-counter {
  --size: 26px;
  width: var(--size);
  height: var(--size);
  background-color: $--color-primary;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  position: relative;

  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }
}

.checkbox-list {
  padding-left: 4rem;

  &__item {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: calc(50% - 12px);
    left: -4rem;
    height: 24px;
  }
}

.pu-skeleton {
  display: block !important;
}

.el-tabs:has(.full) {
  &--border-card {
    box-shadow: 0 0 0!important;
  }

  &__header {
    border-bottom: 0!important;
  }

  &__nav {
    display: flex;
    width: 100%;
  }

  &__item {
    flex: 1;
    text-align: center;
    border: 0!important;
    height: 50px;
    line-height: 50px;

    &:hover,
    &.is-active {
      color: #000 !important;
      font-weight: 400;
    }
  }
}

.el-tabs--border-card {
  border: 0;
  
  & > .el-tabs__content {
    padding: 1.5rem;
  }
}

.el-dialog {
  &__header,
  &__body {
    padding: 0!important;
  }
}

.el-loading-spinner {
  left: 0;

  .circular {
    margin-right: auto;
    margin-left: auto;
  }
}

.link-underline {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  &--error {
    color: #FF5A5F;
  }
  
  span {
    line-height: 1;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}

.submit-btn {
  transition: all 0.3s;
  box-shadow: 0px 0px 20px #37d7d7;

  &:hover {
    box-shadow: 0px 0px 10px #37d7d7;
  }
}

.input-shadow {
  transition: all 0.3s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }
}

.el-message {
  border-width: 0;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #000!important;
}

.custom-input-phone {
  .el-form-item__content {
    border-bottom: 1px solid #000;
  }

  &.is-error {
    .el-form-item__content {
      border-color:  #F56C6C;
    }
  }
}

.input-phone-number {
  height: 25px!important;
  min-height: 25px!important;
}
.vue-phone-number-input {
  position: relative;
  z-index: 9;

  & > .flex-1 {
    height: 25px!important;
  }
}

.country-selector {
  height: 25px!important;
  min-height: 25px!important;
}
.select-country-container {
  flex: 0 0 95px!important;
  width: 95px!important;
  min-width: 95px!important;
  max-width: 95px!important;
}
.country-selector__country-flag {
  top: 8px!important;
  left: 0!important;
}
.country-selector__label,
.input-tel__label {
  top: -19px!important;
  left: 0!important;
  color: #999!important;
}
.country-selector__input {
  border: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
  height: 25px!important;
  min-height: 25px!important;
  padding-top: 0!important;
  padding-left: 30px!important;
  box-shadow: none!important;
  background: transparent!important;
}
.input-tel__input {
  padding: 0!important;
  height: 25px!important;
  min-height: 25px!important;
  border: 0!important;
  font-size: 1rem!important;
  box-shadow: none!important;
  background: transparent!important;

  &::placeholder {
    color: #999!important;
  }
}
.input-underline {
  width: 100% !important;
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;

  input {
    background: transparent;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .el-form-item__content {
    line-height: 25px!important;
    height: 25px!important;
  }

  &.el-date-editor {
    margin-top: 0;
    margin-bottom: 0;
  }

  .el-input__inner {
    padding-left: 0;
    line-height: 25px;
    height: 25px;
    border: 0;
    border-bottom: 1px solid #000;
    background-color: transparent;
  }

  .el-input__suffix {
    right: 0;
  }

  .el-icon-arrow-up:before {
    color: #000;
  }

  .el-input__icon {
    line-height: 25px;
  }

  .el-input__prefix {
    display: none;
  }

  &::before {
    content: attr(data-placeholder);
    position: absolute;
    left: 0;
    bottom: 5px;
    line-height: 1;
    font-weight: 300;
    color: #999;
    white-space: nowrap;
    transition: all 0.3s;
  }

  &::after {
    content: attr(data-helper);
    position: absolute;
    left: 0;
    font-size: 70%;
    font-style: italic;
    font-weight: 300;
    color: #999;
    bottom: -1rem;
    line-height: 1;
  }

  &.has-value {      
    &::before {
      font-size: 70%;
      line-height: 1;
      top: -.8rem;
    }
  }

  input {
    border-bottom: 1px solid #000;
    font-weight: 300;
    color: #000;
    transition: all 0.2s;

    &:focus {
      border-color: var(--primary);
    }
  }
}

.shadow-input {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;

  &:hover, &:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.shadow-primary {
  box-shadow: 0 0 10px rgba($--color-primary, 0.7);
  transition: all 0.3s;

  &:hover, &:focus {
    box-shadow: 0 0 5px rgba($--color-primary, 0.9);
  }
}

.el-breadcrumb__inner.is-link {
  color: var(--primary);
  font-weight: 500;
}