/* Error: Invalid parent selector ":has(.full)"
 *     ,
 * 165 |   &--border-card {
 *     |   ^^^^^^^^^^^^^^^
 *     '
 *   assets/scss/main.scss 165:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Invalid parent selector ":has(.full)"\a     \2577 \a 165 \2502    &--border-card {\a     \2502    ^^^^^^^^^^^^^^^\a     \2575 \a   assets/scss/main.scss 165:3  root stylesheet';
}
